/* Universal */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Shared Styles */

/* a primary button style for all buttons in the site */
.btn_primary{
    border-radius: 5px;
    background: #E55473;
    padding: 15px 30px;
    border: none;
    color: white;
    /* font-size: 20px; */
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* To make buttons hoverable */
.btn_primary:hover {
    background-color: #6d031d;
    color: white;
  }

/* shared Style to make text color magenta */
.magenta_text{

    color: rgb(230, 86, 86);
}


                        /* HEADER SECTION */


/* parent div of banner section */
.Banner_Container{

    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-aroud;
    align-items: center;
    height: 100vh;
    gap: 90px;
    padding: 30px 100px 0px 100px; 
}

/* banner header */
#banner_header{
    color: #272727;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    width: 90%;
    margin: 0px auto 20px 0px;
    

}
/* banner text-description */
#banner_text{
    color: rgba(22, 20, 20, 0.7);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin: 0px auto 30px 0px;

}
/* banner image */
#banner_image{

    
    width: 500px;
    height: 100vh;

}

                        /* MAIN SECTION */

            /* Featured Flowers SECTION */

/* Featured images parent container */
.Featured_Flower{
    margin-top: 100px;
    text-align: center;

    
}

/* Featured section header */
#Featured_Header{

    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Featured section description */
#featured_text{
    
    color: rgba(17, 15, 15, 0.9);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
    
    
}

/* To Display featured images side by side and in center*/
.featured_section_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 200px;
    
}
.featured_Images_holder{
    display: flex;
    gap: 25px;
    
}
/* Style for featured images captions */
figcaption{
    
    text-decoration:underline;
    text-align: center;
    color: #272727;
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    margin-top: 10px;
}


/* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
    
}


/* Pink Flower Tree */
.featured_pic_1{

    position: relative;
    float: left;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 30px 25px 0px 25px;
    height: 350px;
    width: 280px;
    border-radius: 150px 150px 0 0;
    text-decoration:underline;
    margin-bottom: 10px;
    
  

}

/* Mixed Bouquet */
.featured_pic_2{

    background-color: rgba(5, 151, 160, 0.15);
    padding: 30px 25px 0px 25px;
    height: 350px;
    width: 280px;
    border-radius: 150px 150px 0 0;


}
/* Yellow Flower Tree */
.featured_pic_3{

    background-color: rgba(71, 125, 17, 0.15);
    padding: 30px 25px 0px 25px;
    height: 350px;
    width: 280px;
    border-radius: 150px 150px 0 0;


}

